@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<img src="@imageUrl" alt="lavender" />
Welcome to your new app.

@code {
    private string imageUrl = "~/images/placeholder/lavender.png";
}

<Counter IncrementAmount="10"/>